.no-scrollbar::-webkit-scrollbar {
  display: none; /* Hide scrollbars for Chrome, Safari, and Opera */
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
